// Tipografia
$font: "Montserrat", sans-serif;
$sizeDefault: 16px;

// Colors
$color-primary: #333333;

// Containers sizes
$container-big: 1200px;
$container-small: 500px;

// spacing

// Responsive
$tablet-breakpoint: 1023px;
$movil-breakpoint: 767px;
