@import "settings";

@import "lib/reset";

@import "partials/tag-general";
@import "partials/helpers";
@import "partials/header";
@import "partials/new-collection";

/* Features */
.feature-bg {
  padding: 40px 0;
}

.feature-item {
  width: 33.33%;
  float: left;
}

/* .feature-item-img, 
.feature-item-content{
    float: left;
} */

.feature-item > div {
  float: left;
}

.feature-item-content {
  margin-left: 27px;
}

.feature-item-content h3 {
  margin-bottom: 6px;
}

/* Inspiration */
#inspiration-header {
  text-align: center;
  margin-bottom: 88px;
}

.inspiration-gallery {
  text-align: center;
}

.inspiration-gallery img + img {
  margin-left: 41px;
}

/* More Information */
.more-info {
  padding: 60px 0;
}

.more-info-content {
  width: 540px;
  float: left;
  margin-top: 265px;
  margin-right: 60px;

  p {
    margin-bottom: 35px;
  }
}

.more-info-image {
  width: 600px;
  float: left;
}

/* section-content (Range / Works)  */
.section-content-wrapper {
  border-bottom: 1px solid #d7d6d6;
}

.section-content-header {
  text-align: center;
  margin-bottom: 88px;
}

.section-content-gallery {
  text-align: center;
}

.section-content-gallery img + img {
  margin-left: 20px;
}

.section-content-gallery > div {
  width: 33.33%;
  float: left;
}

.section-content-gallery img {
  margin-bottom: 30px;
}

/* Newsletter */
.newsletter-wrapper {
  background-color: #f2f5ff;
  text-align: center;
}

/* Form */
form {
  margin-top: 50px;
}

input[type="email"] {
  height: 63px;
  border: 1px solid #054c73;
  float: left;
  width: 323px;
  padding-left: 10px;
}

input[type="submit"] {
  width: 154px;
  float: left;
  border: none;
  text-transform: capitalize;
}

/* Footer */
.footer-bg {
  background-color: #03344f;
  padding: 40px 0;
}

#footer p,
#footer h3 {
  color: white;
}

#footer h3:first-child {
  margin-bottom: 30px;
}

.footer-left {
  width: 400px;
  float: left;
}

.footer-right {
  width: 780px;
  float: left;
  margin-left: 20px;
}

.footer-right img + img {
  margin-left: 20px;
}
