/* Estilos Generales / Globales */
body {
  font-family: $font;
  font-size: $sizeDefault;
}

@function font-size($size, $fzparent) {
  @return ($size/$fzparent) + em;
}

h2 {
  // em = valor / padre;
  // 32 / 16 = 2em

  // font-size: 2em;
  font-size: font-size(32, $sizeDefault);
  color: $color-primary;
  /* reset */
  margin: 0;

  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: $color-primary;
  /* reset */
  margin: 0;
}

p {
  // 20 / 16
  font-size: 1.25em;
  color: #666666;
  line-height: 39px;
  /* reset */
  margin: 0;
}

p.small {
  font-size: 1em;
  color: $color-primary;
}
