@media only screen and (max-width: $tablet-breakpoint) {
  body {
    border-top: 10px solid tomato;
  }

  // Header
  #nav {
    display: none;
  }
  #menu-link {
    display: block;
    float: right;
  }
}
